.header {
    height: 100vh;
}

.slide {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    line-height: 100vh;
    text-align: center;
    font-size: 100px;
    letter-spacing: 60px;
    margin: auto;

    position: absolute;
    animation: fadein 12s ease-in-out infinite;
}

@keyframes fadein {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}

#img1 {
    z-index: 4;
    animation-delay: 0s;
} 
#img2 {
    z-index: 3;
    animation-delay: 3s;
} 
#img3 {
    z-index: 2;
    animation-delay: 6s;
}
#img4 {
    z-index: 1;
    animation-delay: 9s;
}

.downwardArrow {
    width: 100%;
    position: absolute;
    z-index: 20;
    bottom: 0;

    text-align: center;
    font-size: 70px;

    animation: jump 12s ease-in-out 0s infinite;
}

@keyframes jump {
    0% {
        opacity: 0;
        bottom: 3vh;
    }
    12% {
        opacity: 0.5;
        bottom: 0;
    }
    24% {
        opacity: 1;
        bottom: 3vh;
    }
    33% {
        bottom: 0vh;
    }
    41% {
        bottom: 3vh;
    }
    50%, 100% {
        opacity: 0;
        bottom: 0vh;
    }
}