.header {
    height: 100vh;
}

.slide {
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    object-fit: cover;
    top:0;

    position: absolute;
    animation: fadein 12s ease-in-out infinite;
}

/* if screen is < 1120 the image will be cut off */
@media (max-width: 1120px) {
    .slide {
        object-fit: contain;
    }
}

/* small screens */
@media (max-width: 767px) {
    .header {
        height: 30vh;
    }
    .slide {
        height: auto;
        width: auto;
    }
}

@keyframes fadein {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}

#img1 {
    z-index: 4;
    animation-delay: 0s;
} 
#img2 {
    z-index: 3;
    animation-delay: 3s;
} 
#img3 {
    z-index: 2;
    animation-delay: 6s;
}
#img4 {
    z-index: 1;
    animation-delay: 9s;
}

.downwardArrow {
    width: 100%;
    position: absolute;
    z-index: 20;
    bottom: 0;

    text-align: center;
    font-size: 70px;
    color: white;

    animation: jump 12s ease-in-out 9s infinite;
}

@keyframes jump {
    0% {
        opacity: 0;
        bottom: 3vh;
    }
    12% {
        opacity: 0.5;
        bottom: 0;
    }
    24% {
        opacity: 1;
        bottom: 3vh;
    }
    33% {
        bottom: 0vh;
    }
    41% {
        bottom: 3vh;
    }
    50%, 100% {
        opacity: 0;
        bottom: 0vh;
    }
}