.parent {
  display: block;
  height: 100%;
  min-height: fit-content;
}

.upperTriangle, .lowerTriangle {
    height: 130vh;
}

.upperTriangle {
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 35%);
}

.lowerTriangle {
    right: 0;
    top: 0%;
    background-color: hsl(350, 100%, 88%);
    clip-path: polygon(0% 35%, 100% 100%, 0% 100%);
    margin-top: -60%; 
}
