.parent {
  position: relative;
  display: block;
  height: 100%;
  min-height: fit-content;
  margin: auto;
}

.upperTriangle, .lowerTriangle {
    position: absolute;
    min-height: fit-content;
    height: 200vh;
    width: 100%;
}

.upperTriangle {
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 20%);
}

.lowerTriangle {
    right: 0;
    top: 0%;
    clip-path: polygon(0% 21%, 100% 61%, 100% 100%, 0% 100%);
}

.thumbNail {
  position: absolute;
  z-index: 10;
  height: 70vh;
  top: 0;
  bottom: 200vh;
  left: 0;
  right: 0;
  margin: auto;
}

.audience, .type, .client {
  z-index: 20;
  position: absolute;
  color: black;
  /* mix-blend-mode: overlay; */
  letter-spacing: 9px;
  font-size: small;
  text-transform: uppercase;
}

.audience {
  transform: rotate(270deg);
  bottom: 250vh;
  left: -8vw;
}

.type {
  bottom: 210vh;
  left: 6vw; 
}

.client {
  transform: rotate(90deg);
  right: -3vw;
  bottom: 250vh;
}

.introLine {
  background-color: black;
  border-width: 0;
  height: 2px;
  margin: 9px auto;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: blue;
  width: 10vw;
  height: 10vw;
  z-index: 1;
}

.titleLine {
  height: 2px;
  width: 82%;
  margin: auto;
  border-width: 0;
  background-color: black;
}

.sideways {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  flex-grow: 3;
  height: 60vh;

}
.card {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  margin-right: 5.5%;
}